<div><% @students.each do |student| %> </div>
  <tr>
    <td> <%= student.first_name %> </td>
    <td>  <%= student.last_name %> </td>
    <td> <%= link_to student.to_s, student_path(student) %></td>

  </tr>
  <% end %>
